.border{
  background-color: whitesmoke;
  text-align: center;
  list-style: none;
}
.text0-1{
background-color: brown;color: aliceblue;
}
.text2{
  color: brown;
}
.text3{
  background-color: darkred;
  color: aliceblue;
  text-align: center;
}
.text4{
  color: black;
}