.border{
  background-color: aliceblue;
  list-style: none;
  text-align: center;
}
.personal{
  color: rgb(124, 125, 126)
}

.text1-1{
  color: darkgray;
}
.strong1-1{
  color: black;
}
.text1-2{
  color: darkgray;
}
.strong1-2{
  color: black;
}
.text1-3{
  color: darkgray;
}
.strong1-3{
  color: black;
}
.dollar{
  color: darkgray;
}
.team{
  color: yellow;
}
.text1-1{
  color: darkgray;
}
.strong1-1{
  color: black;
}
.text1-2{
  color: darkgray;
}
.strong1-2{
  color: black;
}
.text1-3{
  color: darkgray;
}
.strong1-3{
  color: black;
}
.dollar1{
  color: yellow;
}
.corporate{
  color: red;
}
.text1-1{
  color: darkgray;
}
.strong1-1{
  color: black;
}
.text1-2{
  color: darkgray;
}
.strong1-2{
  color: black;
}
.text1-3{
  color: darkgray;
}
.strong1-3{
  color: black;
}
.dollar2{
  color: red;
}