<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="users-side">
            <div class="top-nav">
                <h2>Groups Members</h2>
            </div>
            <ul id="chatList" class="chats-list">
            </ul>
        </div>
        <div class="chat-side">
            <div class="chat-header">
                <h3></h3> 
            </div>
            <div id="chatMain" class="chat-main">
            </div>
            <div action="#" class="chat-footer">
                <input type="text" placeholder="Enter a message." id="textInput" required>
                <button id="sendBtn" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                </button>
            </div>
        </div>
        <div class="profile-side">
            <div class="top-profile">
                <h2>Profile</h2>
            </div>
            <div id="profile" class="profile-body">
                <img src="./img/background.jpg" alt="profile-avatar" class="profile-avatar">
                <p class="profile-name"></p>
            </div>
            <br><br>
            <a href="/login">logout</a>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>