.div-0{
  display: block;
  width: 1200px;
  height: 40px; ;
}
.div-1{
  display: inline-block;
  width: 500px;
  height: 40px;
}
.div1-1{
  display: inline-block;
  width: 600px;
  height: 40px;
}
.div1-3{
  font-weight: bolder;
  display: inline-block;
  width: 100px;
  height: 40px;
}
.div1-2{
  display: inline-block;
  width: 100px;
  height: 40px;
}

.div2-7{
  display: block;
  width: 1200px;
  height: 200px;
}
.div2-1{
  text-align: center;
  display: inline-block;
  width: 500px;
  height: 200px;
}
.div2-2{
  font-size: 20px;
  text-align: center;
  display:block;
  width: 200px;
  height: 200px;
}
.div2-3{
  background-color: blue;
  color: antiquewhite;
  display:block;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}
.div-3{
  text-align: center;
}
.hr{
  background-color: black;
  width: 50px;
  height: 2px;
}
.div3-2{
  display: block;
  width: 1300px;
  height: 300;
}
.div3-3{
  display: inline-block;
  width: 400px;
  height: 300px;
  font-size: 25px;
}
.a0{  
  text-align: center;
  background-color: blue;
  color: antiquewhite;
  display:block;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}