.bg-img{
  background-image: url("../img/Без\ названия\ \(1\).jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 1800px;
  height: 700px;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
}